.main_area{
    display: flex;
    justify-content: center;
}

.map_area img {
    width: 95%;
}

/*----------------------- Location Direction ----------------------- */

section.location-section {
    background   : #d9d9d9;
    width        : 400px;
    height       : 550px;
    border-radius: 10px;
    padding      : 20px;
    margin       : 0 5px;
}

.direction {
    background   : orangered;
    border-radius: 10px;
    padding      : 20px;
    position     : relative;
}

.direction p {
    color       : white;
    font-size   : 18px;
    margin      : 0;
    padding-left: 20px;
    position    : relative;
}

p.dir-from {
    margin-bottom: 20px;
}

span.hr-bar {
    position  : absolute;
    z-index   : 1;
    left      : 22px;
    top       : 35px;
    width     : 2px;
    height    : 45px;
    display   : block;
    background: #ffffff;
}

.direction p:before {
    content         : "";
    position        : absolute;
    left            : -5px;
    top             : 6px;
    width           : 15px;
    height          : 15px;
    border-radius   : 50%;
    background-color: white;
}

/* =========== result Box =============*/
.result_box {
    margin-top      : 15px ;
    width           : 360px;
    height          : 80px;
    border-radius   : 10px;
    background-color: white;
    display         : flex;
    justify-content : space-between;
    align-items     : center;
    padding         : 2px 15px;
}

.vehicle {
    width : 60px;
    height: 50px;
}

.people {
    width : 40px;
    height: 40px;
}