header {
    margin         : 20px auto;
    height         : 80px;
    display        : flex;
    justify-content: space-around;
    align-items    : center;
}

header ul {
    list-style: none;
    display   : flex;
}

header li a {
    display     : block;
    margin-right: 20px;
    padding     : 10px;
    font-size   : 24px;
    color       : black;
}

header li a:hover {
    color           : white;
    background-color: #FF6E41;
    border-radius   : 5px;
    text-decoration : none;
}