* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

body {
  font-family     : Calibri;
  background-image: url('./img/bg.png');

  height             : 100%;
  
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat  : no-repeat;
  background-size    : cover;
}
